*{
    margin: 0;
    padding: 0;
    font-size: large;
}
.menu{
    padding-left: 70px;
}
.menu1{
    padding-left: 90px;
    
}
.select1{
    padding-top: 17px;
}
.showtopic{
   margin-right: 100px;
}
div > li >a {
    text-decoration: none;
    color: aliceblue;
}
div > a{
    text-decoration: none;
}
div > span >a{
    text-decoration: none;
}
div > a >i {
    color: aliceblue;
}
span>a>i{
    color: aliceblue;
}